.bg-earth-green {
    background-color: #8D8741;
}

.bg-earth-blue {
    background-color: #659DBD;
}

.bg-earth-pink {
    background-color: #DAAD86;
}

.bg-earth-brown {
    background-color: #BC986A;
}

.bg-earth-light-brown {
    background-color: #FBEEC1;
}

body {
    background-color: #FBEEC1;
}
